:root{
    --azul:#1c2eb9;
    --amarillo:#ffe121;
    --grisclaro:#8a8a8a;
    --grismedio:#3c3c3c;
    --grisoscuro:#1a1a1a;
    --verdeoscuro:#19352a;
    --verdemedio:#1d5529;
    --verdeclaro:#0ca14f;
    --turquesaclaro:#295f4e;
    --turquesamedio:#38817a;
    --turquesaoscuro: #253c3a;

}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(179, 179, 179);
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, var(--turquesaclaro),var(--turquesamedio) , var(--turquesaoscuro));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, var(--turquesaclaro),var(--turquesamedio) , var(--turquesaoscuro)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *//* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Header */
header {
    position:fixed;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: linear-gradient(to right, var(--verdeoscuro),var(--verdemedio) ,var(--verdeclaro) );
    z-index: 100;
}

main{
    color: #fbfae1;
    background: -webkit-linear-gradient(to bottom, var(--turquesaclaro),var(--turquesamedio) , var(--turquesaoscuro));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, var(--turquesaclaro),var(--turquesamedio) , var(--turquesaoscuro)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav-list{
    display:flex;
    flex-direction: row;
    list-style-type: none;
    justify-content:space-between;
    gap:1rem;
}

.nav-list li a{
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    font-weight: bold;
    padding: .7rem;
    margin: 2rem;
}

li:hover{
    transition: transform .2s;
    transform: scale(1.2);
}

.nav-list li a:hover{
    background-color: var(--amarillo);
    color:var(--azul);
    white-space: nowrap;
    cursor: pointer;
}

#btn-abrir-menu{
    height: 70%;
    display: none;
}

.png-logo{
    max-width:20rem;
    width:15rem;
    height:auto;
}

.redes   {
    justify-content: center;
}

.logo {
    text-align: center;
    height:auto;
}



/* Imagen de fondo */
#inicio {
    position: relative;
    text-align: center;
}

.imgback {
    width: 100%;
}

/* Reserva */
#reserva {
    text-align: center;
}

#btn-abrir-modal {
    margin-top: 5vh;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--verdeoscuro);
    color: rgb(222, 219, 31);
    padding: 10px 20px;
    border:none;
    cursor: pointer;
}

#btn-abrir-modal:hover {
    animation: escalaEnBucle 2.25s infinite;
}

@keyframes escalaEnBucle {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.25);
    }
}

.redes{
    display:flex;
    justify-content: flex-end;
    flex-direction: row;
}

.titulos{
    text-align:center;
}

.site-footer{
    background-color: var(--amarillo);
}

#footer-content{
    color:rgb(0, 0, 0);
}

.footer-text{
    margin-bottom:0;
    font-size:smaller;
}

#inicio{
    margin-top:4%;
}

.imgback{
    height:auto;
}

.img-fluid{
    height: 30rem;
    width:100%;
}

#servicios, #contact, #ubication{
    text-align: center;
}

.separador{
    text-align: center;
}
.separator{
    width:80rem;
    height:5rem;
}

/* Carrousel */
.carrousel{
    width: 90%;
    max-width: 120em;
    background-color: rgb(108, 184, 105);
    
}

.carrousel .grande{
    width:200%;
    background-color: rgb(188, 219, 187);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    transition: all .5s ease;
    transform: translateX(-50%);
}

.carrousel .img{
    width: calc(100% / 4 - 2em);
    min-height: 10vh;
background-color: lime;
}

.carrousel .puntos{
    width: 100%;
    margin: 1em 1em 0;
    padding: 1em;
    display: flex;
    background-color: rgb(255, 0, 0);
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.carrousel .punto{
    width: 2em;
    padding:.4em;
    height: 2em;
    margin: 1em 1em 0;
    background-color: blue;
}

.carrousel .punto.activo{
    background-color: orange;
    
}
/* MODAL */
#modal::backdrop{
    background-color: rgba(0,0,0,.55);
}
#modal{
    max-width: 150ch;
}



/* Contacto */
#contact h1 {
    text-align: center;
    align-items: center;
    align-items: center;
}

/* Ubicación */
#ubication h2 {
    text-align: center;
}

#ubication h3 {
    text-align: center;
}

.mapa{
    width: 50%;
    height: 450px;
}

.back-sbn{
    width: 100%;
    height:400px;
    color:#000000
}

.text-sbn{
    margin: 0 160px;
}

/* Sobre nosotros */
#sbn {
    text-align: center;
}

/* Footer */
.site-footer {
    background-color: #333;
    color: white;
    text-align: center;
   
}

@media screen and (max-width: 1300px) {


    #btn-abrir-menu{
        display: block;
    }

    .png-logo{
        width:8rem;
    }

    #inicio{
        margin-top:0;
    }

    .img-fluid{
      height: 20rem;
      width:100%;
    }
    
    header{
        background: rgb(var(--grismedio),var(--grismedio),var(--grismedio),.9); /* Fondo blanco con 50% de transparencia */
        box-shadow: 0 0 0 100vmax  rgba(0,0,0,.5);
    }

    
      .redes {    
        scale:.5;
        align-items: end;
      }
    
      .nav-container {
        display: flex;
        flex-direction: column;
        align-items: end;
      }

    .nav-link{
        scale:.75;
    }
    .nav-link:hover{
        transition: transform .2s;
        transform:scale(1.15);
    }
    
}


