body{
    font-family: sans-serif;
    margin:0;
    color: rgb(179, 179, 179);
    background: #000000;
}

main{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #353535, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #353535, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header{
    display: flex;
    background-color: #4c982c;
    align-items: center;
}

nav{
    display:flex;
    width:100%;
    height:100%;
}

nav a{
    text-align: center;
    margin-right:10%;
}

.png-logo{
    width:60%;
    height:80%;
}

.barNav{
    height:100%;
}
.nav-link{
    color:rgb(208, 208, 208);
}



.nav-link:hover{
    background-color: #083925;
    color:white;
}


.titulos{
    margin:1%;
    text-align:center;
}

.cancha1{
    display:flex;
    flex-direction: row;
}

.cancha1 img{
    width: 50%;
    align-items: center;
}

.titulo-cancha{
    margin-bottom: 1%;
}

.texto-cancha1{
    margin: 1%;
    margin-top:3%;
}

.cancha1-total,.cancha2-total{
    width: 50%;
    display:flex;
    flex-direction: column;
}


.site-footer{
    margin-top: 3%;
    background-color: #3b3b3b;
}

#footer-content{
    color:rgb(255, 255, 255);
}

.footer-text{
    margin-bottom:0;
    font-size:smaller;
}

.cancha2{
    margin-top:3%;
    display:flex;
    flex-direction: row;
}

.texto-cancha2{
    margin: 1%;
    width: 60%;
}

.cancha2 img{
    width:50%;
}
.fotos{
    display:flex;
    flex-direction:row;
}

.background{
    width: 100%;
    height: 35vw;
}

.cancha-luz{
    width:200%;
}

.titulo-h3{
    text-decoration: underline;
}

@media(max-width:800px){
    
    nav{
        flex-direction: column;
    }
    nav a{
        margin:3%;
    }
    .logo{
        width: 40%;
    }
    .logo img{
        width:100%;
    }
    .barNav{
        text-align: center;
        width: 70%;
    }
    .cancha1,.cancha2{
        flex-direction: column;
        text-align: center;
    }
    .cancha1 img,.cancha2 img{
        width:98%;
        margin: 1%;
    }
    .cancha1-total,.cancha2-total {
        margin: 1%;
        width:95%;   
        
    }
    .cancha1-total p,.cancha2-total p{
        text-align: justify;
    }
    
    .cancha2{
        flex-direction: column-reverse;
    }
   
}