body{
    font-family: sans-serif;
    margin:0;
    color: rgb(179, 179, 179);
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #4b4b4b, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #4b4b4b, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header{
    display: flex;
    background-color: #4c982c;
    align-items: center;
}

nav{
    display:flex;
    width:100%;
    height:100%;
}

nav a{
    text-align: center;
    margin-right:10%;
}

.img-back{
    margin: 0;
}

.png-logo{
    width:60%;
    height:80%;
}

.barNav{
    height:100%;
}
.nav-link{
    color:rgb(208, 208, 208);
}

.nav-link:hover{
    background-color: #083925;
    color:white;
}

.titulos{
    margin:1%;
    text-align:center;
}

.site-footer{
    margin-top: 3%;
    background-color: #3b3b3b;
}

#footer-content{
    color:rgb(255, 255, 255);
}

.footer-text{
    margin-bottom:0;
    font-size:smaller;
}

.background{
    width: 100%;
    height: 35vw;
}

.card{
    margin: 0 45px;
}

.card-img-top{
    height: 500px;
}
@media(max-width:800px){
    
    nav{
        flex-direction: column;
    }
    nav a{
        margin:3%;
    }
    .logo{
        width: 40%;
    }
    .logo img{
        width:100%;
    }
    .barNav{
        text-align: center;
        width: 70%;
    }
    .cancha1,.cancha2{
        flex-direction: column;
        text-align: center;
    }
    .cancha1 img,.cancha2 img{
        width:98%;
        margin: 1%;
    }
    .cancha1-total,.cancha2-total {
        margin: 1%;
        width:95%;   
        
    }
    .cancha1-total p,.cancha2-total p{
        text-align: justify;
    }
    
    .cancha2{
        flex-direction: column-reverse;
    }

}

.popup .overlay {
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background: rgba(0,0,0,7);
    z-index:1;
    display: none;
}

.popup .content {
    position:absolute;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%) scale(0);
    background: #fff;
    width: 450px;
    height:220px;
    z-index:2;
    text-align:center;
    padding:20px;
    box-sizing:border-box;
}

.popup .close-btn {
    cursor:pointer;
    position:absolute;
    right:20px;
    top:20px;
    width:30px;
    height:30px;
    background:#222;
    color: #fff;
    font-size:25px;
    font-weight:600;
    line-height:30px;
    text-align:center;
    border-radius:50%;
}

.popup .active .overlay {
    display:block;
}

.popup .active .content {
    transition: all ease-in-out;
    transform:translate(-50%,-50%) scale(1);
}